.home-page {
  display: grid;
  grid-template-columns: [col1] 30rem [col2] 7em [col3] 23rem [end];
  grid-template-rows: [header] 5rem [row2] 25rem [row3] 25rem [end];
  grid-gap: 1rem;
  position: relative;
  top: 0;
}

.user-card {
  grid-column: col1;
  grid-row: header / row2;
  justify-self: start;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}

/* .user-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */

.weather-card {
  border: 2px solid #817979;
  border-radius: 2.5rem;
}

.basic-weather {
  grid-column: col1;
  grid-row: row2 / row3;
}

.precipitation-card {
  grid-column: col2 / end;
  grid-row: row2 / row3;
}

.hourly-forecast-card {
  grid-column: col1 / col3;
  grid-row: row3 / end;
  border: 2px solid #817979;
  border-radius: 2.5rem;
}

.tomorrows-forecast-card {
  grid-column: col3 / end;
  grid-row: row3 / end;
  border: 2px solid #817979;
  border-radius: 2.5rem;
}
